<div class="footer">
  <div class="container">
    <div class="container-fluid">
      <div class="row footer-separator"></div>
    </div>
  </div>
  <div class="container my-3">
    <div class="">
      <div class="container-fluid footer-nav">
        <div class="row">
          <div class="col-lg-9">
            <a href="" class="mr-4">Terms and Conditions</a>
            <a href="" class="mr-4">Privacy Policy</a>
            <a href="" class="mr-4">Contact Us</a>
          </div>
          <div class="col-lg-3 social">
            <span class="mr-4">Follow Us</span>
            <fa-icon [icon]="faFacebookSquare" class="mr-4"></fa-icon>
            <fa-icon [icon]="faTwitter"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>