<div class="container-fluid hero" #heroBanner>
  <div class="row">
    <div class="col-lg-12">
      <div class="container navBar my-4">
        <div class="row">
          <div class="col-lg-6"><a href="#" class="mainLogo">Rule of Thumb.</a></div>
          <div class="col-lg-6">
            <a href="#">Past Trials</a>
            <a href="#">How It works</a>
            <a href="#">Log In / Sign Up</a>
            <a href="#" class="search"><fa-icon [icon]="faSearch" class="search"> class="search"</fa-icon></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <app-main-box [mainBoxContent]="mainBox"></app-main-box>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 py-1 pollClosing">
      <span>CLOSING IN</span>
    </div>
    <div class="col-lg-8 py-1 pollDays">
      <span>22 Days</span>
    </div>
  </div>
</div>