<div class="container-fluid hero">
  <div class="row">

    <div class="container nav">
      <a href="#">Rule of Thumb</a>
      <a href="#">Past Trials</a>
      <a href="#">How It works</a>
      <a href="#">Log In / Sign Up</a>
      <a href="#">Contacts</a>
    </div>

    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <app-main-box></app-main-box>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>