<div class="container content">
  <div class="container-fluid">
    <div class="gray-info-bar my-3">
      <div class="row">
        <div class="col-4">
          Be Counted
        </div>
        <div class="col-8">
          Rule of Thumb
        </div>
      </div>
    </div>
    <h1>Votes</h1>
    <div class="row">
      <div class="col-6">
        <app-content-box></app-content-box>
      </div>
      <div class="col-6">
        <app-content-box></app-content-box>
      </div>
      <div class="col-6">
        <app-content-box></app-content-box>
      </div>
      <div class="col-6">
        <app-content-box></app-content-box>
      </div>
    </div>
    <div class="image-bar-cta my-4">
      <div class="row">
        <div class="col-7">
          Is there anyone else you would want us to add?
        </div>
        <div class="col-5">
          CTA
        </div>
      </div>
    </div>
  </div>
</div>
